<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conditionals with Vue.js</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<body>


<div id="summary">
    <label><input type="checkbox" v-model="discount"> Apply Free Shipping</label>
    <ul>
        <li>Price : {{'$' + price}}</li>
        <li>Tax: {{'$' + tax}}</li>
        <li v-if="discount">Shipping: Free</li>
        <li v-else>Shipping: {{'$' + shipping}}</li>
    </ul>
</div>

<script>
    var user = new Vue({
        el: '#summary',
        data: {
            discount: false,
            price: 19.05,
            tax: 3.99,
            shipping: 5.99
        }
    })
</script>
</body>
</html>